<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../Script/angular.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <input type="text" ng-model="name" placeholder="Enter Name">
    <button ng-click="addName()">Add</button>
    <button ng-click="removeName()">Remove</button>
    <h1>List 1</h1>
    <ol>
        <li ng-repeat="n in names">{{n|capFilter}}</li>
    </ol>
</div>
<div ng-controller="myCtrl">
    <input type="text" ng-model="name" placeholder="Enter Name">
    <button ng-click="addName()">Add</button>
    <button ng-click="removeName()">Remove</button>
    <h1>List 2</h1>
    <ol>
        <li ng-repeat="n in names | myFilter">{{n}}</li>
    </ol>
</div>
<script>
    var app = angular.module('myApp',[]);
    app.factory("myService",[function(){
        return({

            items:['Name 1','Name2'],
            addName : function(name){
                this.items.push(name);
            },
            removeName : function(name){
                this.items.pop();
            }
        })
    }]);

    //var app = angular.module('myApp',[]);
    app.controller('myCtrl',['$scope','myService',function($scope, myService){
        $scope.addName =function() {
            myService.addName($scope.name);
            $scope.name = '';
        };
        $scope.removeName =function() {
            myService.removeName($scope.name);
            $scope.name = '';
        };
        $scope.names=myService.items;
    }]);

    app.filter('myFilter',function(){

        var filter = function(items){
            var filtered = [];

            for(var i=0;i<items.length;i++)
            {
                if(items[i].search(/day/)!=-1)
                {
                    filtered.push(items[i]);
                }
            }
        return filtered;
        }
        return filter;
    })

    app.filter('capFilter',function(){
        return function(text)
        {
           return text.toString().toUpperCase();
        }
    })
</script>

</body>
</html>