<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <form role="form">
                <div class="form-group">
                    <label for="customername">Customer Name : </label><input type="text" ng-model="name" class="form-control" id="customername" />
                </div>
                <div class="form-group">
                    <label for="invoicenumber">Invoice Number : </label><input type="text" ng-model="address" class="form-control" id="invoicenumber" />
                </div>
                <div class="form-group">
                    <label for="invoicename">Item title : </label><input type="text" ng-model="name" class="form-control" id="invoicename" />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity : </label><input type="text" ng-model="address" class="form-control" id="quantity" />
                </div>
                <button type="submit" onclick="addItem()" class="btn btn-default">Add Item</button>
                <div class="form-group">
                    <label for="totalcost">Total Cost : </label><input type="text" ng-model="name" class="form-control" id="totalcost" />
                </div>
                <button type="submit" onclick="addInvoice()" class="btn btn-default">Submit Invoice</button>
            </form>
        </div>
    </div>
</div>